/*@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,400';*/
@font-face {
  font-family: 'Homestead';
  font-display: auto;
  src: url('../fonts/Homestead-Regular.ttf');
}
@font-face {
  font-family: 'Wisdom Script';
  font-display: auto;
  src: url('../fonts/Wisdom-Script.otf');
}
html {
  height: 100%;
}
body {
  background: #415353;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  min-height: 100%;
}

.canvas {
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  background: #415353;
  color: white;
}

header.game {
  position: absolute;
  top: 10%;
  left: 15px;
  width: 320px;
  color: white;
  text-shadow: 0 0 2px black,
               0 0 5px black;
  z-index: 10000;
  text-align: center;
}
body.no-difficult-game .difficult-game {
  display: none;
}
header.game .mainlogo {
  display: inline-block;
  font-weight: normal;
  font-family: 'Homestead';
  font-size: 60px;
  line-height: .9;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  text-rendering: optimizeLegibility;
}

header.game .powered {
display: block;
max-width: 120px;
  font-weight: 600;
  background: transparent;
  color: #ebf0dc;
  border: 1px solid white;
  font-size: 10px;
  padding: 2px 2px ;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 40px auto 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

#sharing {position: fixed;bottom:20px;right:40px;z-index:10000;width:50px;height:80px;}

footer {
  font-size: 12px;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 30px;
  line-height: 30px;
/*  background: #ebf0dc; */
  color: #869886;
  text-align: center;
  overflow: hidden;
}
footer a,
footer a:visited {
  -webkit-transition: color 150ms;
  -moz-transition: color 150ms;
  transition: color 150ms;
}
footer a:hover {
  color: #607160;
}

.logo {
  margin-top: 20px;
  width: 100px;
  max-width: 100%;
  border: none;
  -webkit-transform: translateZ(0);
  -webkit-filter: drop-shadow(0 0 2px #000000) drop-shadow(0 0 5px #000000);
  -moz-filter: drop-shadow(0 0 2px #000000) drop-shadow(0 0 5px #000000);
  filter: drop-shadow(0 0 2px #000000) drop-shadow(0 0 5px #000000);
}
.canvas > header.game > h3 {
  font-weight: 600;
}

.herebeads {
	margin-top: 40px;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
#svg-container {
  z-index: 50;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 350px;
  right: 0;
}
#map svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
#maps-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
#maps-background .world {
  position: absolute;
  left: -350px;
  top: -50px;
  right: 0;
  bottom: 0;
  background-size: 640px;
  background-position: -350px 0;
}
#neighborhood-guess-wrapper {
  float: left;
  left: 50%;
  padding-left: 175px;
  position: relative;
  pointer-events: none;
}
body.main-menu #neighborhood-guess-wrapper,
body.main-menu #count-time-wrapper-wrapper {
  display: none;
}
#neighborhood-guess {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0;
  float: left;
  position: relative;
  right: 50%;
  top: -5px;
  padding: 10px 20px;
  z-index: 1000;
  text-align: center;
  pointer-events: none;
  font-size: 21px;
  font-weight: 300;
  display: none;
}
#neighborhood-guess.visible {
  display: block;
}
#neighborhood-guess .name {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1;
  display: block;
}
#count-time-wrapper-wrapper {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 80px;
  display: none;
}
#count-time-wrapper-wrapper.visible {
  display: block;
}
#count-time-wrapper {
  float: left;
  left: 50%;
  padding-left: 175px;
  position: relative;
  pointer-events: none;
}
#count-time {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 0;
  float: left;
  position: relative;
  right: 50%;
  top: -5px;
  padding: 10px 20px;
  padding-bottom: 15px;
  z-index: 1000;
  text-align: center;
  pointer-events: none;
  font-size: 21px;
  font-weight: 300;
}
#count {
  display: block;
  margin: 0 auto;
}
#count-time-wrapper-wrapper .time {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: -1px;
  line-height: 1;
}
#more-cities-wrapper-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 99999;
  bottom: -40px;
  -webkit-transition: bottom 250ms;
  -moz-transition: bottom 250ms;
  transition: bottom 250ms;
}
#more-cities-wrapper-wrapper.visible {
  bottom: 0;
}
#more-cities-wrapper {
  float: left;
  left: 50%;
  padding-left: 175px;
  position: relative;
  text-align: center;
}
#more-cities-wrapper div {
  float: left;
  position: relative;
  right: 50%;
  background: #ebf0dc;
  color: black;
  border-radius: 0 0 0 0;
  padding: 8px 16px;
  cursor: pointer;
}
body.no-hover #neighborhood-hover {
  display: none;
}
#neighborhood-hover {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0;
  z-index: 2000;
  text-align: center;
  border: 1px solid white;
  margin: -1px;
  margin-left: 350px;
  background: rgba(0,0,0,0.8);
  max-width: 400px;
  background: rgba(249, 171, 78, 0.8);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding: .38em .75em;
  box-sizing: border-box;
  color: black;
  pointer-events: none;
  opacity: 0;
  margin-top: 70px;
  font-weight: 600;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 1.2;
}
#neighborhood-hover.visible {
  opacity: 1;
}
#neighborhood-hover.inactive {
  background: rgba(128, 128, 128, 0.9);
  font-size: 15.75px;
}
#map .neighborhood-boundary {
  fill: none;
}
#map .neighborhood.unguessed {
  stroke-width: 1;
  stroke: white;
  fill: rgba(0, 0, 0, 0.6);
  -webkit-transition: fill 300ms;
  -moz-transition: fill 300ms;
}
#map .neighborhood[inactive] {
  fill: rgba(128, 128, 128, 0.75);
}
body:not(.touch-active) #map .neighborhood:not([inactive]):hover {
  cursor: pointer;
  fill: rgba(247, 148, 29, 0.5);
  -webkit-transition: fill 50ms;
  -moz-transition: fill 50ms;
}
body:not(.touch-active) #map .neighborhood[inactive]:hover {
  fill: rgba(108, 108, 108, 0.775);
  -webkit-transition: fill 50ms;
  -moz-transition: fill 50ms;
}
#map .neighborhood.guessed {
  stroke: transparent;
  fill: rgba(0, 255, 0, 0.25);
}
body:not(.touch-active) #map .neighborhood.guessed:hover {
  stroke: white;
  fill: rgba(154, 188, 18, 0.375);
}
#map .neighborhood.right-guess {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blink;
  -moz-animation-duration: 500ms;
  -moz-animation-iteration-count: infinite;
  -ms-animation-name: blink;
  -ms-animation-duration: 500ms;
  -ms-animation-iteration-count: infinite;
  animation-name: blink;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
#map .neighborhood.wrong-guess {
  fill: rgba(255, 0, 0, 0.7) !important;
  stroke: white;
}
#map .neighborhood.guessed-animation {
  stroke: transparent;
  fill: rgba(0, 255, 0, 0.25);
  pointer-events: none;
  z-index: 99999;
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 500ms, fill 500ms;
  -moz-transform-origin: 50% 50%;
  -moz-transition: -moz-transform 500ms, fill 500ms;
}
#map .neighborhood.guessed-animation.animate {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  fill: transparent;
}
@-webkit-keyframes blink {
  0%,
  49.99% {
    fill: rgba(0, 255, 0, 0.25);
  }
  50%,
  100% {
    fill: rgba(0, 0, 0, 0.6);
  }
}
@-ms-keyframes blink {
  0%,
  49.99% {
    fill: rgba(0, 255, 0, 0.25);
  }
  50%,
  100% {
    fill: rgba(0, 0, 0, 0.6);
  }
}
@keyframes blink {
  0%,
  49.99% {
    fill: rgba(0, 255, 0, 0.25);
  }
  50%,
  100% {
    fill: rgba(0, 0, 0, 0.6);
  }
}
#cover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0;
  background: rgba(65, 83, 83, 0.8);
  font-size: 28px;
  font-weight: 300;
  text-shadow: 0 0 2px black, 0 0 5px black;
  display: none;
  box-sizing: border-box;
  color: white;
  width: 100%;
  height: 100%;

}
#cover.visible {
  display: table;
}
button,
a.button {
  font-size: 28px;
  font-weight: 600;
  padding: 10px 50px;
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 5px;
  background: #f89f34;
  -webkit-transition: background 150ms;
  -moz-transition: background 150ms;
  transition: background 150ms;
  color: black;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
}
button:hover,
a.button:hover {
  background: #fbca8e;
}
button:active,
a.button:active {
  background: #fdead2;
}
button.smaller,
a.button.smaller {
  font-weight: 400;
  padding: 10px 20px;
  font-size: 60%;
}

#share-via-facebook {
	background: #3B5998;
	color: white;	
	font-weight: bold;
}

#share-via-whatsapp {
	background: #43d854;
	color: white;	
	font-weight: bold;
}

#share-via-facebook:hover {
	background: rgba(60, 90, 153, 0.85);
}

#share-via-twitter {
	background: #4099FF;
	color: white;	
	font-weight: bold;
}

#share-via-twitter:hover {
	background: rgba(63, 153, 255, 0.85);
}

#share-via-email {
	opacity: 0.8;
}

button:not(.smaller) > span:not(.difficult-game),
button:not(.smaller) > span.difficult-game > span {
  font-size: 70%;
  display: block;
}
button .neighborhoods-removed-disclaimer {
  font-size: 80%;
  line-height: 0;
  position: relative;
  top: -5px;
  padding-left: 1px;
}
p > :not(button) > .neighborhoods-removed-disclaimer {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
p > :not(button) > .neighborhoods-removed-disclaimer sup {
  padding-right: 2px;
}

/* that's .intro */
#cover > div {
  display: none;
  width: 90%;
  max-width: 500px;
  vertical-align: middle;
}

br.rwd-break {
	display:block;
}

#cover > div.visible {
  display: table-cell;
}
#cover > div > div {
  padding-left: 350px;
  max-width: 500px;
  margin: 0 auto;
}
#cover h1 {
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.small {
  font-size: 80%;
}
.small img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 0 5px;
  outline: 1px solid rgba(0, 0, 0, 0.5);
}
a {
  color: inherit;
}

body:not(.neighborhoods-removed) .neighborhoods-removed-disclaimer {
  display: none;
}
.capitalize {
  text-transform: capitalize;
}
#wrong-browser {
  position: fixed;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 3em 5em;
  z-index: 9999999;
  font-family: Arial;
  font-size: 20px;
  color: white;
  background: #972929;
  outline: 2000px solid black;
}

.menu {
  background: #ebf0dc;
  padding: 20px 0 40px 0;
  overflow: hidden;
}
.menu .locations {
  line-height: 1.9;
  margin-left: 200px;
  margin-right: 50px;
}
.menu .locations h1 {
  clear: both;
  float: left;
  width: 0;
  padding: 0;
  margin: 0;
  margin-left: -150px;
  white-space: nowrap;
  font-size: 100%;
}
.menu .locations li {
  float: left;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  list-style: none;
  white-space: nowrap;
  color: #404040;
  text-shadow: 0 0 1px transparent;
}
.menu .locations .add-your-city {
  display: inline;
  position: relative;
  top: 15px;
}
.menu .locations li.selected {
  background: black;
  padding: 0 8px;
  margin-left: 8px;
  margin-right: -8px;
  border-radius: 0;
  font-weight: 600;
  color: #ebf0dc;
}
.menu .locations li:not(.selected).nearby {
  text-shadow: 0 0 1px black;
  color: black;
  -webkit-transition: text-shadow 500ms, color 500ms;
  -moz-transition: text-shadow 500ms, color 500ms;
  transition: text-shadow 500ms, color 500ms;
}
.menu .locations li a {
  text-decoration: none;
}
.menu .locations li:not(.selected) a {
  border-bottom: 1px solid #c0c0c0;
}
.menu .locations li:not(.selected) a:hover {
  color: black;
  border-bottom-color: #404040;
}
.menu .locations li a .annotation {
  border: 1px solid #808080;
  color: #606060;
  border-radius: 2px;
  font-size: 60%;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 4px;
  padding-right: 3px;
  padding-bottom: 1px;
  letter-spacing: 1px;
  margin-left: 5px;
  position: relative;
  top: -2px;
  margin-right: 2px;
}
.menu .locations li:not(.selected) a:hover .annotation {
  color: black;
  border-color: black;
}
.menu .locations li.selected a .annotation {
  color: #ebf0dc;
  border-color: #ebf0dc;
}


/* tablets and larger */
@media only screen and (min-device-width : 736px) {
	#share-via-whatsapp {
		display: none;
	}
	br.rwd-break {
	display:none;
	}
	.save-to-homescreen {
		display:none;
	}
	
}

/*iphone 6 
@media only screen 
    and (min-device-width : 375px) // or 213.4375em
    and (max-device-width : 667px) // or 41.6875em
    and (width : 375px) // or 23.4375em
    and (height : 559px) // or 34.9375em
    and (orientation : portrait) 
    and (color : 8)
    and (device-aspect-ratio : 375/667)
    and (aspect-ratio : 375/559)
    and (device-pixel-ratio : 2)
    and (-webkit-min-device-pixel-ratio : 2)
{
	#maps-background {
	  left:-342px;
	  top:-17px;
	}
}
*/


/* mobile */
@media only screen and (max-device-width : 768px) {
	
	footer, #sharing, header.game, .menu, #more-cities-wrapper, #share-via-email {display: none;}
	
	.canvas {
		top:0;
		margin-bottom:0;
	}
	
	#svg-container {
	  z-index: 50;
	  position: absolute;
	  top: 40px;
	  bottom: 0px;
	  left: 5%;
	  right: 0;
	}
	
	#cover > div > div {
	  padding: 0px 10px;
	  max-width: 500px;
	  margin: 0 auto;
	}
	
	button,
	a.button {
	font-size: 90%;
/* 	padding: 10px 60px; */
	}
	
	#maps-background {
		display: none;
	}
		
	#neighborhood-guess-wrapper {
	  float: left;
	  margin: 0 auto;
	  padding-left: 0px;
	  pointer-events: none;
	}
	
	
	#map .neighborhood[inactive] {
	  fill: rgba(248, 159, 52, 0.1);
	}
	
	#count-time-wrapper {
	  float: left;
	  margin: 0 auto;
	  padding-left:0px;
	  pointer-events: none;
	}
	
	.difficult-game, .neighborhoods-removed-disclaimer {
		display: none;
	}
	
	button.smaller,
	a.button.smaller {
	  font-weight: 400;
	  padding: 10px 20px;
	  font-size: 60%;
	  display: block;
	  margin: 0 10px 15px 10px;
	}
	
	.save-to-homescreen {
		font-size: 80%;
	}
	
}

/* webapp mode */
@media all and (display-mode: standalone) {
  #neighborhood-guess-wrapper {
	  padding-top:20px;
	}
	
	.save-to-homescreen {
		display:none;
	}
}
